*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-toggle{
  float: left!important;
}
.navbar-default .navbar-toggle{
  border: 0!important;
}
.nav-collapse-list ul li{
  display: inline-block;
  margin-right: 49px;
}
.navbar-labcar a{
  padding-bottom: 56px
}
.navbar-labcar .row{
  display: flex;
  align-items: center;
}
.navbar {
  margin-bottom: 0px!important;
}
/*style section hero*/
#hero{
  position: relative;
  background: url(../assets/img/taxi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  /*width: 100%;*/
  height: 90vh;
  overflow: hidden;
  color: #fff;
}
.divobien{
  border-bottom: 1px solid #fff;
  padding-bottom: 21px;
}
.obien{
  position: absolute;
  left: 130px;
  bottom: 0px;
  background-color: #f7b617;
  padding: 0 80px;
}
.enjoythetravel{
  position:absolute;
  width: 500px;
  height: 300px;
  right: 0;
  top: 20%;
  background-color: #f7b617;
}
.btn{
  margin-top: 14px;
  font-weight: bold!important;
}
/*styles section informacion*/
#informacion{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color:  #f7b617;
  display: flex;
  align-items: center;
  color: #fff;
}
#informacion .rowImage{
  border-top: 1px solid #fff;
  border-bottom: 0.1px solid #fff;
  border-right: 0.1px solid #fff;
  padding: 28px 0px;
}
/*styles about section conduce*/
#conduce{
  position: relative;
  background: url(../assets/img/conduce.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 70vh;
  color: #fff;
}
.conduce-content{
  position:absolute;
  width: 450px;
  height: 70vh;
  right: 0;
  top: 0;
  background-color: #2b2b2b;
  opacity: 0.7;
  display: flex;
  align-items: center;
}
.btn-warning{
  opacity: 100;
  background-color:  #f7b617!important;
  padding: 14px 35px!important;
}
/*styles about section tarifa*/
#tarifa{
  position: relative;
  width: 100%;
  height: 90vh;
  background-color:  #f7b617;
  display: flex;
  align-items: center;
  color: #fff;
}
.form-control {
  display: inline-block!important;
  width: auto!important;
}
#map {
  height: 400px;
  width: 100%;
}
/*style about footer*/
#footer{
  width: 100%;
  height: 70vh;
  background-color:  #2b2b2b;
  display: flex;
  align-items: center;
  color: #fff;
}
#footer li{
  list-style-type: none;
  padding: 7px;
}
#footer img{
  width: 150px;
  margin: 7px;
}
.row-footer{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}


@media (max-width: 768px){
  .nav-collapse-list ul li{
    display: block;
    margin-right: 49px;
  }
  .navbar-labcar .row {
    display: block;
  }
  .nav-collapse-list ul li {
    padding: 14px 0px;
  }
  .enjoythetravel{
    position:absolute;
    width: 200px;
    height: 300px;
    right: 0;
    top: 20%;
    background-color: #f7b617;
  }
  #informacion .rowImage{
    border: 1px solid #fff;
    padding: 28px 0px;
    margin: 0!important;
  }
  .conduce-content{
    width: 100%;
  }
  .conduce-content h1{
    font-size: 2.1em;
  }
  #footer img{
    width: 100px;
    margin: 7px;
  }
}
